<div class="about">
  <div class="about__copy">
    <p class="about__copu-sub">ABOUT US</p>
    <p class="about__copy-main">三雲山の<br>世界</p>
  </div>
  <p class="about__text">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても出来まい。</p>
  <div class="about__link">
    <a href="#" class="about__link-col">
      <div class="about__link-main">わたしたちの想い</div>
      <div class="about__link-sub">VISION</div>
    </a>
    <a href="#" class="about__link-col">
      <div class="about__link-main">三雲山の歴史</div>
      <div class="about__link-sub">HISTORY</div>
    </a>
  </div>
</div>