<div class="feature">
  <div class="feature__copy">
    <p class="feature__copu-sub">MIKUMO JAPAN</p>
    <p class="feature__copy-main">山林が誇る<br>豊かな海</p>
  </div>
  <div class="feature__row" data-trigger>
    <div class="feature__content">
      <p class="feature__content-title anim-rise-up anim-delay-0">
        新築の二階から野良猫が<br>首を出していたら、<br>同級生の一人が冗談に、いくら<br>そこから飛び降りる事は。<br>別段深い理由でもない。
      </p>
      <p class="feature__content-text anim-rise-up anim-delay-1">
        小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。
      </p>
      <p class="feature__content-btn btn-1 anim-rise-up anim-delay-2">
        <a href=""><span>販売場所はこちら</span></a>
      </p>
    </div>
    <div class="feature__image anim-rise-image anim-delay-1">
      <img src="../../assets/corp2/img/feature-1.png" alt="">
    </div>
  </div>
  <div class="feature__row _right" data-trigger>
    <div class="feature__image anim-rise-image anim-delay-1">
      <img src="../../assets/corp2/img/feature-2.png" alt="">
    </div>
    <div class="feature__content">
      <p class="feature__content-title anim-rise-up anim-delay-0">
        新築の二階から野良猫が<br>首を出していたら、<br>同級生の一人が冗談に、いくら<br>そこから飛び降りる事は。<br>別段深い理由でもない。
      </p>
      <p class="feature__content-text anim-rise-up anim-delay-1">
        小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。
      </p>
      <p class="feature__content-btn btn-1 anim-rise-up anim-delay-2">
        <a href=""><span>販売場所はこちら</span></a>
      </p>
    </div>
  </div>
</div>