<div class="footer">
  <div class="footer__content">
    <div class="footer__content-row">
      <div class="footer__content-col">
        <h3 class="footer__content-title"><a href="#">トップ</a></h3>
        <h3 class="footer__content-title"><a href="#">製品情報</a></h3>
        <ul class="footer__menu">
          <li><a class="footer__menu-item" href="#">山歩きグッズ</a></li>
          <li><a class="footer__menu-item" href="#">山のお守りセット</a></li>
          <li><a class="footer__menu-item" href="#">懐中電灯と電池セット</a></li>
          <li><a class="footer__menu-item" href="#">キャンプエリアの地図</a></li>
          <li><a class="footer__menu-item" href="#">山工房の使い方</a></li>
          <li><a class="footer__menu-item" href="#">葉っぱでできたお皿</a></li>
          <li><a class="footer__menu-item" href="#">カシの木の工芸品</a></li>
        </ul>
      </div>
      <div class="footer__content-col">
        <h3 class="footer__content-title"><a href="#">CORPについて</a></h3>
        <ul class="footer__menu">
          <li><a class="footer__menu-item" href="#">私たちのおもい</a></li>
          <li><a class="footer__menu-item" href="#">CORPの歴史</a></li>
          <li><a class="footer__menu-item" href="#">会社情報</a></li>
          <li><a class="footer__menu-item" href="#">取扱店舗</a></li>
        </ul>
        <h3 class="footer__content-title"><a href="#">ブログ</a></h3>
        <ul class="footer__menu">
          <li><a class="footer__menu-item" href="#">山脈の知識</a></li>
          <li><a class="footer__menu-item" href="#">愛用者の声</a></li>
          <li><a class="footer__menu-item" href="#">スタッフブログ</a></li>
        </ul>
      </div>
      <div class="footer__content-col">
        <h3 class="footer__content-title"><a href="#">お知らせ</a></h3>
        <ul class="footer__menu">
          <li><a class="footer__menu-item" href="#">お知らせ</a></li>
          <li><a class="footer__menu-item" href="#">ショッピング</a></li>
          <li><a class="footer__menu-item" href="#">サービス</a></li>
          <li><a class="footer__menu-item" href="#">デジタルトランスフォーム</a></li>
          <li><a class="footer__menu-item" href="#">イベント</a></li>
        </ul>
        <h3 class="footer__content-title"><a href="#">お問い合わせ</a></h3>
        <ul class="footer__menu">
          <li><a class="footer__menu-item" href="#">お問い合わせ</a></li>
          <li><a class="footer__menu-item" href="#">カタログ請求</a></li>
          <li><a class="footer__menu-item" href="#">修理・サポート申し込み</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__nav">
    <div class="footer__nav-container">
      <div class="footer__nav-row">
        <h1 class="footer__nav-logo"><a href="#"></a></h1>
        <div class="footer__nav-wrap">
          <ul class="footer__nav-menu">
            <li><a class="footer__nav-item" href="#">● Twitter</a></li>
            <li><a class="footer__nav-item" href="#">● Instagram</a></li>
            <li><a class="footer__nav-item" href="#">● Youtube</a></li>
            <li><a class="footer__nav-item" href="#">● Facebook</a></li>
          </ul>
          <ul class="footer__nav-menu">
            <li><a class="footer__nav-item" href="#">プライバシーポリシー</a></li>
            <li><a class="footer__nav-item" href="#">環境への取り組み</a></li>
            <li><a class="footer__nav-item" href="#">情報保護基本方針</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__nav-copy">© SAMPLE Co., Ltd. All Rights Reserved.</div>
    </div>
  </div>
</div>