<div id="siteHeader" class="header">
  <div class="header__nav">
    <h1 class="header__logo"><a href="#"><img src="../assets/corp2/img/logo.svg" alt=""></a></h1>
    <ul class="header__menu">

      <li><a href="#">製品情報</a></li>
      <li><a href="#">オープンファクトリー</a></li>
      <li><a href="#">藤二郎について</a></li>
      <li><a href="#">読みもの</a></li>
      <li><a href="#">サポート</a></li>
      <li><a href="#">お知らせ</a></li>
      <li><a href="#"><svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z"/></svg></a></li>
    </ul>
    <a class="header__btn" href="#">オンラインショップ</a>
  </div>
  <div class="header__copy">
    <p class="header__copu-sub">FROM TSUBAME-SANJO TO THE WORLD</p>
    <p class="header__copy-main">燕三条から<br>世界へ</p>
  </div>
</div>