<div class="pagelink">
  <div class="pagelink__row">
    <a href="#" class="pagelink__col left">
      <div class="pagelink__content">
        <p class="pagelink__content-title">お問い合わせ・資料請求</p>
        <p class="pagelink__content-text">各種お問い合わせ・カタログ請求</p>
      </div>
    </a>
    <a href="#" class="pagelink__col right">
      <div class="pagelink__content">
        <p class="pagelink__content-title">サポート情報</p>
        <p class="pagelink__content-text">のし対応・名入れなどのサポート情報</p>
      </div>
    </a>
  </div>
</div>