/*
* === bootstrap4 nav ===
*/
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 6px 12px;

  &:hover,&:focus {
    text-decoration: none;
  }
}

.nav-fill {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}
.nav-justified {
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}