<section id="recruit" class="block-recruit c-bgslope c-bgslope__left" data-trigger>
  <div class="c-bgslope c-bgslope__right">
    <div class="container c-bgslope__inner">
      <img class="img-fluid img-100" src="{{ site.url }}/assets/corp/images/recruit.png" alt="img">
      <div class="row">
        <div class="col-12 col-lg-7 offset-lg-5">
          <div class="panel">
            <div class="panel__header">
              <h2 class="title">RECRUIT</h2>
              <p class="sub-title">採用情報</p>
            </div>
            <div class="panel__body">
              <p class="description">会社情報のテキストをここに記入します。会社情報のテキストをここに記入します。会社情報のテキストをここに記入します。会社情報のテキストをここに記入します。会社情報のテキストをここに記入します。</p>
              <a class="btn btn-main" href="#">MORE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>