<section id="company" class="block-company" data-trigger>
  <div class="container">
    <img class="img-fluid img-100" src="{{ site.url }}/assets/corp/images/company.png" alt="img">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="panel">
          <div class="panel__header">
            <h2 class="title">COMPANY</h2>
            <p class="sub-title">会社情報</p>
          </div>
          <div class="panel__body">
            <p class="description">会社情報のテキストをここに記入します。会社情報のテキストをここに記入します。会社情報のテキストをここに記入します。会社情報のテキストをここに記入します。会社情報のテキストをここに記入します。</p>
            <a class="btn btn-main" href="#">MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>