<section id="news" class="block-news" data-trigger>
  <div class="block-news__header">
    <div class="c-title">
      <h2 class="title">NEWS</h2>
      <p class="sub-title">お知らせ</p>
    </div>
  </div>
  <div class="block-news__body">
    <div class="container">
      <ul class="nav flex-column">
        {% for i in (1..5) %}
        <li>
          <span class="date">2020.1.8</span>
          <a class="title" href="#">お知らせの内容をここに記入します。お知らせの内容をここに記入します。</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>