<section id="contact" class="block-contact" data-trigger>
  <div class="block-contact__header">
    <div class="c-title">
      <h2 class="title">CONTACT</h2>
      <p class="sub-title">お問い合わせ</p>
    </div>
  </div>
  <div class="block-contact__body">
    <div class="container">
      <div class="col-12 col-lg-10 offset-lg-1">
        <form>
          <div class="row">
            <label class="col-12 col-lg-3 pt-0">お問い合わせ種別</label>
            <div class="col-12 col-lg-9 d-flex">
              <div>
                <input type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  お問い合わせ
                </label>
              </div>
              <div class="ml-3">
                <input type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  資料請求
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <label for="inputCompany" class="col-12 col-lg-3">会社名</label>
            <div class="col-12 col-lg-9">
              <input type="text" id="inputCompany" placeholder="例) XYZ株式会社">
            </div>
          </div>
          <div class="row">
            <label for="inputName" class="col-12 col-lg-3">お名前</label>
            <div class="col-12 col-lg-9">
              <input type="text" id="inputName" placeholder="例) 山田太郎">
            </div>
          </div>
          <div class="row">
            <label for="inputEmail" class="col-12 col-lg-3">メールアドレス</label>
            <div class="col-12 col-lg-9">
              <input type="email" id="inputEmail" placeholder="例) sample@example.com">
            </div>
          </div>
          <div class="row">
            <label for="inputPhone" class="col-12 col-lg-3">電話番号</label>
            <div class="col-12 col-lg-9">
              <input type="text" id="inputPhone" placeholder="例) 03-4567-8910">
            </div>
          </div>
          <div class="row">
            <label for="inputContent" class="col-12 col-lg-3">お問い合わせ内容</label>
            <div class="col-12 col-lg-9">
              <textarea name="inputContent" rows="5" placeholder="お問い合わせ内容をご記入ください。"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-9 offset-lg-3">
              <button type="submit" class="btn btn-primary">送信</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>