<meta name="robots" content="noindex">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Corporate</title>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- slick slider -->
<script type="text/javascript" src="{{ site.url }}/assets/vendor/slick/slick.min.js"></script>

<!-- scrolltrigger -->
<script type="text/javascript" src="{{ site.url }}/assets/vendor/scrolltrigger/ScrollTrigger.min.js"></script>

<!-- smoothscroll -->
<script type="text/javascript" src="{{ site.url }}/assets/vendor/smoothscroll/smooth-scroll.polyfills.min.js"></script>

<!-- parallax -->
<script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

<!-- lazyload -->
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.4.0/dist/lazyload.min.js"></script>

<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

<!-- style,js -->
<link rel="stylesheet" href="{{ site.url }}/assets/corp/style.css">
<script src="{{ site.url }}/assets/corp/base.js"></script>